<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' type='text/css' media='all'>
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" media="all"> 
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <title>Pierre's Sweets & Treats</title>
  </head>
  <body>
    <div class="Jumbotron">
      @Html.Partial("navBar")
      @RenderBody()
    </div>
  </body>
</html>