@{
  Layout = "_Layout";
}

@using PSST.Models;
@* @model List<PSST.Models.Treat>; *@
@model IEnumerable<PSST.Models.Treat>
<div class="center">
  <h2>Treats!</h2>
  @if (Model.Any())
  {
    @foreach (Treat treat in Model)
    {
      <li>
        @Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })
      </li>
    } 
  } 
  else
  {
    <h3>Treats... Nien!</h3>
  }
  <hr>
  <p>@Html.ActionLink("Add new Treat", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>